  <nav class="nav">
    <ul class="navbar">
      <li><a class="item-nav" routerLink="/underconstruction" >Inicio</a></li>
      <li><a class="item-nav" routerLink="/about" routerLinkActive="active">Acerca de mi</a></li>
      <li><a class="item-nav" routerLink="/underconstruction" >Estudios</a></li>
      <li><a class="item-nav" routerLink="/underconstruction">Certificaciones</a></li>
      <li><a class="item-nav" routerLink="/contact" routerLinkActive="active">Contacto</a></li>
    </ul>
  </nav>

